/* Hide page margins */
html, body {
    overflow: hidden;
    margin: 0px;
}

* {
    font-family: "Roboto Condensed";
    color: #ffffff;
}

.disappearing {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear();
}

.disappearing:hover {
    opacity: 1;
}

.overlay {
    position: fixed;
}

.wide {
    left: 0px;
    right: 0px;
}
.tall {
    top: 0px;
    bottom: 0px;
}

.status {
    font-family: monospace;
    color: #DDDDDD;
}

.centered {
    text-align: center;
    align-items: center;
}

.shadow {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 25%,rgba(0,0,0,1) 100%);
}

.player-label {
    color: #ffffff;
}

.seekbar-label {
    width: 10%;
    display: inline-block;
}

#file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.player-button {
    background-color: orange;
    color: #ffffff;
    border: 0;
    width: 64pt;
    height: 64pt;
    border-radius: 32pt;
    display: inline-block;
}

.player-button:hover {
    background-color: #ffbd42;
}

.player-button:active {
    background-color: rgb(175, 114, 0);
}

.player-button:disabled {
    background-color: #aaaaaa;
}

.player-seekbar {
    width: 75%;
    transform: translateY(-4pt);
}

/* http://danielstern.ca/range.css/#/ used to generate this style */
input[type=range].player-seekbar {
    -webkit-appearance: none;
}
input[type=range].player-seekbar:focus {
    outline: none;
}
input[type=range].player-seekbar::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].player-seekbar::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #ffbd42;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range].player-seekbar:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.3);
}
input[type=range].player-seekbar::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].player-seekbar::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #ffbd42;
    cursor: pointer;
}
input[type=range].player-seekbar::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].player-seekbar::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.3);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].player-seekbar::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.3);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].player-seekbar::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #ffbd42;
    cursor: pointer;
    height: 2px;
}
input[type=range].player-seekbar:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.3);
}
input[type=range].player-seekbar:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.3);
}
  

/* Canvas fills the screen */
canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    /* This helps us identify canvas errors */
    background-color: cornflowerblue;
}
