/* Hide page margins */
html, body {
    overflow: hidden;
    margin: 0px;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.status {
    font-family: monospace;
    color: #DDDDDD;
}

.centered {
    text-align: center;
}

/* Canvas fills the screen */
canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    /* This helps us identify canvas errors */
    background-color: cornflowerblue;
}
